@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.pancakes
		.owl-next
			right: -285px
	.breakfast
		&__flair
			background-size: cover
		&__prices
			padding: 100px 50px 60px 50px

	.flair
		&__h3
			padding: 40px 0 35px
			font-size: 36px
	.wheat
		position: absolute
		width: 260px
		height: 165px
		bottom: 30px
		right: 0


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.navbar-toggler
		margin: auto
	.first-screen
		&__annonce
			font-size: 20px
		.navbar
			.navbar-collapse
				position: absolute
				top: 50px
				background-image: linear-gradient(to right, $shadow, transparent)
				a
					padding: 5px 100px
			a::before
				content: ''
	.cakes
		&__photos
			background-size: contain
			margin: 20px 0 80px

	.pancakes
		&__minutes
			top: -100px
			right: 10px

	.breakfast
		&__prices
			padding: 100px 30px 60px 0
		&__flair
			margin: 105px 0 90px
			background-image: none
			background-color: #f3f1e9
			outline: 2px dotted #c2beba
			outline-offset: -10px
			padding: 55px 30px 65px
		&__item
			margin-top: 20px
		&__item:first-of-type
			margin-top: 30px
	.sandwich
		.h2
			padding-top: 20px
		&__ingridients
			flex-direction: row
			justify-content: space-between
			margin-top: 50px
			margin-bottom: -30px
		&__title
			width: 135px
			margin: 20px auto
		&__text
			width: 150px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.first-screen
		.h1
			font-size: 68px
		.dashed-line
			padding-top: 30px
			padding-bottom: 35px
		&__annonce
			font-size: 18px
			padding: 0 20px 65px
	.pancakes
		&__image
			min-height: 400px
		&__minutes
			top: -150px
			right: 30px
		.owl-next
			right: -285px
	.breakfast
		&__prices
			padding-right: 0

		

@media only screen and (max-width : 765px)
	.pancakes
		.owl-next
			right: -415px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	.first-screen
		.h1
			font-size: 55px
		.dashed-line
			padding-top: 20px
			padding-bottom: 25px
		&__annonce
			font-size: 16px
			padding: 0 30px 65px

	.cakes
		&__chef
			flex-direction: column
			p
				margin: 15px 0
		&__quote
			padding: 20px 10px 0
			&::before
				left: -25px
				top: 0px
			&::after
				right: -23px
				bottom: -73px
	.pancakes
		.owl-next
			right: -350px
		.owl-item img
			width: 80px !important
			height: 80px !important

	.flair
		&__h3
			padding: 50px 0 35px
			font-size: 28px
	.sandwich
		&__ingridients
			flex-direction: column
		&__text
			width: auto
			padding: 0 50px


@media only screen and (max-width : 420px)
	.pancakes
		.owl-next
			right: -270px

@media only screen and (max-width : 370px)
	.pancakes
		.owl-next
			right: -230px


@media only screen and (max-width : 400px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

