@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.pancakes
		.owl-next
			right: -285px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.navbar-toggler
		margin: auto
	.first-screen
		&__annonce
			font-size: 20px
		.navbar
			.navbar-collapse
				position: absolute
				top: 50px
				background-image: linear-gradient(to right, $shadow, transparent)
				a
					padding: 5px 100px
			a::before
				content: ''
	.cakes
		&__photos
			background-size: contain
			margin: 20px 0 80px

	.pancakes
		&__minutes
			top: -100px
			right: 10px



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.first-screen
		.h1
			font-size: 68px
		.dashed-line
			padding-top: 30px
			padding-bottom: 35px
		&__annonce
			font-size: 18px
			padding: 0 20px 65px
	.pancakes
		&__image
			min-height: 400px
		&__minutes
			top: -150px
			right: 30px
		.owl-next
			right: -415px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	.first-screen
		.h1
			font-size: 55px
		.dashed-line
			padding-top: 20px
			padding-bottom: 25px
		&__annonce
			font-size: 16px
			padding: 0 30px 65px

	.cakes
		&__chef
			flex-direction: column
			p
				margin: 15px 0
		&__quote
			padding: 20px 10px 0
			&::before
				left: -25px
				top: 0px
			&::after
				right: -23px
				bottom: -73px
	.pancakes
		.owl-next
			right: -350px
		.owl-item img
			width: 80px !important
			height: 80px !important


@media only screen and (max-width : 420px)
	.pancakes
		.owl-next
			right: -270px

@media only screen and (max-width : 370px)
	.pancakes
		.owl-next
			right: -230px


@media only screen and (max-width : 400px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

