@import "fonts"
@import "libs"
@import "vars"




*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.71
	font-family: $default-font
	overflow-x: hidden
	color: $accent
	letter-spacing: 0.025px

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: rgba($accent, .53)
	padding: 15px 50px
	font-size: 14px
	text-transform: uppercase
	font-weight: 700
	letter-spacing: 3px
	border-radius: 3px
	text-align: center
	position: relative
	outline: none
	transition: background-color 0.4s ease
	&:focus, &:hover
		text-decoration: none
		color: #fff
		outline: none
	&:hover
		background-color: rgba($accent, .75)
	&:active
		background-color: rgba($accent, .85)

.h2
	font-family: 'Alegreya', serif
	font-size: 48px
	color: $accent
	font-weight: 700
	margin-bottom: 5px
	letter-spacing: 0.025px

.h2__subtitle
	font-family: 'Alegreya', serif
	text-transform: uppercase
	color: $base
	font-weight: 700
	letter-spacing: 0.1px
		
.first-screen
	height: 100vh
	.header
		background-color: rgba(#56534c, 0.53)
	.logo
		color: $light
		font-size: 30px
		font-family: 'Scriptina', serif
		transition: color .5s ease-in
	.navbar
		padding-top: 15px
		.navbar-nav
			justify-content: space-between
			width: 100%			
		.navbar-toggler-icon
			color: $light !important
		.navbar-collapse
			z-index: 10
		a
			color: $light !important
			text-transform: uppercase
			display: block
			position: relative
			border-bottom: 2px solid transparent
			transition: all .5s ease-in
			&:hover, &:focus
				color: $wooden !important
				border-bottom: 2px solid $wooden
			&::before
				content: '\007E'
				position: absolute
				left: -50%
				transform: translate(50%)
		a:first-child
			&::before
				content: ''
		a:nth-child(2), a:nth-child(4)	
			&::before
				left: -100%
	.social
		height: 100%
		justify-content: flex-end
		align-items: center
		i
			padding-left: 25px
			color: $light
			transition: color .5s ease-in
			&:hover, &:focus
				color: $base

.first-screen
	color: #fff
	&__wraper
		justify-content: center
		align-items: center
		height: 80%
	&__content
		position: relative
		text-align: center
	.h1
		font-family: 'Playfair Display', serif
		font-size: 92px
		font-weight: 700
		text-shadow: 0 1px 1px $shadow
	.dashed-line
		padding-top: 60px
		padding-bottom: 65px
		filter: drop-shadow(0 1px 1px $shadow)
	&__annonce
		font-family: 'proxima', serif
		font-size: 24px
		padding-bottom: 65px
		letter-spacing: 1px
		text-shadow: 0 1px 1px $shadow

.bun
	height: 106px
	&__img
		position: absolute
		bottom: -65px
		background: url(../img/bread.png) 50%
		background-size: cover
		height: 130px
		width: 100%
		filter: drop-shadow(0 1px 9px rgba($shadow, 0.1))
		z-index: 10

.cakes
	&__left
		padding: 105px 60px
	&__text
		font-family: 'proxima', serif
		padding: 40px 0 30px
		letter-spacing: 0.1px
	&__chef
		align-items: center
		justify-content: center
		p
			font-size: 24px
			letter-spacing: 0.025px
			padding: 15px 20px
			border-bottom: 1px solid $wooden
			border-top: 1px solid $wooden
		img
			margin: 0 20px
			filter: drop-shadow(0 2px 5px rgba($shadow, 0.2))
	&__photos		
		position: relative
		p
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			text-transform: uppercase
			font-size: 30px
			letter-spacing: 0.05px
			color: $wooden
			text-align: center
	&__preparing
		background: url(../img/art.png) no-repeat 50%
		background-size: 100%
		min-height: 520px
		margin: 130px 0 110px
	.h3
		font-size: 24px
		letter-spacing: 0.025px
		font-weight: 700
		padding-bottom: 15px
	&__quote
		padding: 20px 80px 0
		font-family: 'Scriptina', serif
		font-size: 24px
		color: $base
		position: relative
		&::before, &::after
			content: ',,'
			font-size: 60px
			font-family: 'Times New Roman', serif
			position: absolute
			display: inline-block
			color: rgba($accent, .5)
		&::before
			transform: rotate(180deg)
			left: -5px
			top: -10px
		&::after
			transform: scale(1, -1)
			right: 5px
			bottom: -70px
	&__tastes
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		filter: drop-shadow(0 14px 18px rgba($shadow, 0.5))
	&__cake

.pancakes
	box-sizing: cover
	
	






@import "media" // Всегда в конце
